<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html lang="en">

    <body>
    {% block content %}
		<section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">

                            <h1>Aplikasi Klasifikasi Sentimen pada Tweets PT. TRANSJAKARTA</h1>

                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
        <section id="shortcodes">
    <div id="testimonial-container">
                <div class="row">
      <div class="col-md-12">
          <h2 class="page-header">Petunjuk Penggunaan Aplikasi</h2>
            <blockquote>
              <ul class="elements">
                        <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i class="fa fa-angle-right"></i> Klik tombol navigasi Analisis Sentimen.</li>
                        <li class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms"><i class="fa fa-angle-right"></i> Klik tombol Klasifikasi Sentimen.</li>
                        <li class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms"><i class="fa fa-angle-right"></i> Lihat hasil klasifikasi sentimen dalam bentuk tabel dan grafik.</li>
                        <li class="wow fadeInUp" data-wow-duration="600ms" data-wow-delay="400ms"><i class="fa fa-angle-right"></i> Klik simpan untuk menyimpan hasil klasifikasi sentimen.</li>
                    </ul>
            </blockquote>
      </div>
                </div>
    </div>
    </section>
        <!--<ul class="elements">
                        <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i class="fa fa-angle-right"></i> Klik tombol navigasi Analisis Sentimen.</li>
                        <li class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms"><i class="fa fa-angle-right"></i> Klik tombol Klasifikasi Sentimen.</li>
                        <li class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms"><i class="fa fa-angle-right"></i> Lihat hasil klasifikasi sentimen dalam bentuk tabel dan grafik.</li>
                        <li class="wow fadeInUp" data-wow-duration="600ms" data-wow-delay="400ms"><i class="fa fa-angle-right"></i> Klik simpan untuk menyimpan hasil klasifikasi sentimen.</li>
                    </ul>
			<div class="column">
                <p>1. Klik tombol navigasi Analisis Sentimen</p>
                <p>2. Klik tombol Klasifikasi Sentimen</p>
                <p>3. Lihat hasil klasifikasi sentimen dalam bentuk tabel dan grafik</p>
                <p>4. Klik simpan untuk menyimpan hasil klasifikasi sentimen</p>
                <p>5. Klik cetak untuk mencetak hasil klasifikasi sentimen</p>
			</div>-->


    {% endblock %}
    </body>
</html>